@{
    ViewData["Title"] = "About";
}
<section id="what-we-do">
    <div class="container-fluid">
        <h2 class="section-title text-warning mb-2 h1">What we do</h2>
        <p class="text-center text-dark h5">Correct Training and Healthy Nutrition is crucial in a fast moving from Fat to Fit.</p>
        <br />
        <br />
        <br />
        <div class="row ">
            <div class="col-md-4 text-center">
                <h1 class="text-center text-warning">Training</h1>
                <text class="text-dark">
                    The principles of specificity, progression, overload, adaptation, and reversibility are why practicing frequently and consistently are so important if you want to improve your performance. Missed sessions cannot really be made up within the context of a single season. They are lost opportunities for improvement. Skipping your long ride on weekend A means you can’t or shouldn’t go as far as originally planned on weekend B. Skipping your Monday swim means your swimming skills and muscles won’t be honed or stressed that day. Missing a week due to a vacation sets you back more than one week. Apply these principles to your training to get a better understanding of your body and how to achieve success.
                </text>
            </div>
            <div class="col-md-4 text-center">
                <h1 class="text-center text-warning">Nutrition</h1>
                <text class="text-dark">
                    Proper nutrition is a key component in the preparation and training of the competitive athlete. The dietary recommendations for sports nutrition are surprisingly conventional, similar to that for the prevention of chronic disease. Few specialized supplements are required above a well-balanced diet of sufficient protein and carbohydrate. Total caloric requirements, macronutrient composition, and need for electrolyte/micronutrient repletion may vary from one sport to another. The type and duration of the sporting event affect the utilization of energy systems, substrate availability, and the training adaptations required to optimize athleticism.
                </text>
            </div>
            <div class="col-md-4 text-center">
                <h1 class="text-center text-warning">Supplement</h1>
                <text class="text-dark">
                    The overall review of the literature supports the viewpoint that multivitamin/mineral supplements are unnecessary for athletes or other physically active individuals who are on a well-balanced diet with adequate calories. For example, several studies have provided multivitamin/mineral supplements over prolonged periods and reported no significant effects on both laboratory and sport-specific tests of physical performance. In one of the most comprehensive studies, Telford and others evaluated the effect of long term vitamin/mineral supplementation on exercise performance of nationally ranked athletes in training at the Australian Institute of Sport.
                </text>
            </div>
        </div>
        <br />
        <br />
        <div class="row mt-5">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="text-center">
                        <h3 class="card-title text-warning">Tips for Training</h3>
                        <a class="text-dark" asp-controller="Users" asp-action="Login" asp-area="" title="Read more" class="read-more">Read more<i class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="text-center">
                        <h3 class="card-title text-warning">Tips for Nutrition</h3>
                        <a class="text-dark" asp-controller="Users" asp-action="Login" asp-area="" title="Read more" class="read-more">Read more<i class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="text-center">
                        <h3 class="card-title text-warning">Interviews With Shredded Models</h3>
                        <a class="text-dark" asp-controller="Users" asp-action="Login" asp-area="" title="Read more" class="read-more">Read more<i class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="text-center">
                        <h3 class="card-title text-warning">Diaries for Users</h3>
                        <a class="text-dark" asp-controller="Users" asp-action="Login" asp-area="" title="Read more" class="read-more">Read more<i class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="text-center">
                        <h3 class="card-title text-warning">Tips for Supplements</h3>
                        <a class="text-dark" asp-controller="Users" asp-action="Login" asp-area="" title="Read more" class="read-more">Read more<i class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="text-center">
                        <h3 class="card-title text-warning">Shredded Motivation</h3>
                        <a class="text-dark" asp-controller="Users" asp-action="Login" asp-area="" title="Read more" class="read-more">Read more<i class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>