@{
    ViewData["Title"] = "About";
}
<section id="what-we-do">
    <div class="container-fluid">
        <h2 class="section-title text-warning mb-2 h1">Who we are</h2>
        <p class="text-center text-dark h5">GetShredded is a web application that helps everyone achieve the desired shape from scratch to aesthetic!</p>
        <br/>
        <br/>
        <hr class="w-75" style="height: 2px; background-color: orange" />
        <div class="row mt-5">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="text-center">
                        <h3 class="card-title text-warning">Tips for Training</h3>
                        <a class="text-dark" asp-controller="Users" asp-action="Login" asp-area="" title="Read more" class="read-more">Read more<i class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="text-center">
                        <h3 class="card-title text-warning">Tips for Nutrition</h3>
                        <a class="text-dark" asp-controller="Users" asp-action="Login" asp-area="" title="Read more" class="read-more">Read more<i class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="text-center">
                        <h3 class="card-title text-warning">Interviews With Shredded Models</h3>
                        <a class="text-dark" asp-controller="Users" asp-action="Login" asp-area="" title="Read more" class="read-more">Read more<i class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="text-center">
                        <h3 class="card-title text-warning">Diaries for Users</h3>
                        <a class="text-dark" asp-controller="Users" asp-action="Login" asp-area="" title="Read more" class="read-more">Read more<i class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="text-center">
                        <h3 class="card-title text-warning">Tips for Supplements</h3>
                        <a class="text-dark" asp-controller="Users" asp-action="Login" asp-area="" title="Read more" class="read-more">Read more<i class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="text-center">
                        <h3 class="card-title text-warning">Shredded Motivation</h3>
                        <a class="text-dark" asp-controller="Users" asp-action="Login" asp-area="" title="Read more" class="read-more">Read more<i class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="w-75" style="height: 2px; background-color: orange" />
