<div class="jumbotron mt-3 bg-primary">
    <h1 class="text-white text-center">Welcome To Your Guide To Getting Shredded</h1>
    <hr class="bg-white" />
    <h3 class="text-white text-center"><a style="color: black" asp-controller="Users" asp-action="Login" asp-area="">Login</a> if you have an account.</h3>
    <h3 class="text-white text-center"><a style="color: black" asp-controller="Users" asp-action="Register" asp-area="">Register</a> if you don't.</h3>
</div>