<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<section id="what-we-do">
    <div class="container-fluid">
        <h2 class="section-title text-primary mb-2 h1">What we do</h2>
        <p class="text-center text-dark h5">Correct Training and Healthy Nutrition is crucial in a fast moving from Fat to Fit.</p>
        <div class="row mt-5">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="text-center">
                        <h3 class="card-title text-primary">Tips for Training</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a class="text-primary" asp-controller="Users" asp-action="Login" asp-area="" title="Read more" class="read-more">Read more<i class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="text-center">
                        <h3 class="card-title text-primary">Tips for Nutrition</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a class="text-primary" asp-controller="Users" asp-action="Login" asp-area="" title="Read more" class="read-more">Read more<i class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="text-center">
                        <h3 class="card-title text-primary">Interviews With Shredded Models</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a class="text-primary" asp-controller="Users" asp-action="Login" asp-area="" title="Read more" class="read-more">Read more<i class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="text-center">
                        <h3 class="card-title text-primary">Diaries for Users</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a class="text-primary" asp-controller="Users" asp-action="Login" asp-area="" title="Read more" class="read-more">Read more<i class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="text-center">
                        <h3 class="card-title text-primary">Tips for Supplements</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a class="text-primary" asp-controller="Users" asp-action="Login" asp-area="" title="Read more" class="read-more">Read more<i class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="text-center">
                        <h3 class="card-title text-primary">Shredded Motivation</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a class="text-primary" asp-controller="Users" asp-action="Login" asp-area="" title="Read more" class="read-more">Read more<i class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>